[submodule "wayland"]
	path = modules/wayland
	url = git@github.com:wayland-project/wayland.git
[submodule "wayland-protocols"]
	path = modules/wayland-protocols
	url = git@github.com:wayland-project/wayland-protocols.git
[submodule "modules/weston"]
	path = modules/weston
	url = git@github.com:wayland-project/weston.git
